.Books {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
    margin-top: 6rem;
}

.Book {
    font-size: 1.75rem;
    width: 80%;
    margin: 0 auto;
}

.Book__info {
    width: 50%;
    margin: 0 auto;
}

.Book__info i {
    font-size: 1.75rem;
}

.Book_description {
    font-size: 1.5rem;
}
