.Books {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-items: center;
    grid-column-gap: 1.9rem;
    grid-row-gap: 5rem;
    margin-top: 6rem;
    justify-self: center;
}

@media only screen and (max-width: 100em) {
    .Books {
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        grid-column-gap: 0;
        margin-top: 8.5rem;
    }
}

@media only screen and (max-width: 85em) {
    .Books {
        grid-template-columns: 48% 48%;
        grid-column-gap: 4%;
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .Books {
        grid-template-columns: 100%;
        grid-row-gap: 7rem;
        margin-top: 8rem;
    }
}

.Book {
    font-size: 1.75rem;
    width: 80%;
    margin: 0 auto;
}

.Book__info {
    width: 50%;
    margin: 0 auto;
}

.Book__info i {
    font-size: 1.75rem;
}

.Book_description {
    font-size: 1.5rem;
}
