.SearchBar {
    border-color: #50514f;
    border-radius: 7px;
    padding: 2rem 3rem;
    font-size: 2rem;
    width: 30%;
    height: 4rem;
    transition: 0.4s ease-in;
    justify-self: center;
}

@media only screen and (max-width: 85em) {
    .SearchBar {
        width: 70%;
        height: 6rem;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 37.5em) {
    .SearchBar {
        width: 85%;
    }
}

.SearchBar:focus {
    border: none;
    outline: none;
    transform: translateY(-2px);
    -webkit-box-shadow: 4px 7px 18px -4px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 4px 7px 18px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 4px 7px 18px -4px rgba(0, 0, 0, 0.62);
}
